<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019031754834-egmoq52nces6dae0s3oljujq11c5le24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019031754834-egmoq52nces6dae0s3oljujq11c5le24</string>
	<key>API_KEY</key>
	<string>AIzaSyAsYlcoDXorj8rqBwxjEdV-bpB-a-j5acc</string>
	<key>GCM_SENDER_ID</key>
	<string>1019031754834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aarnavaggarwal.ytproject</string>
	<key>PROJECT_ID</key>
	<string>app-4d79a</string>
	<key>STORAGE_BUCKET</key>
	<string>app-4d79a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019031754834:ios:84c57a4a13b3838f2ae78b</string>
</dict>
</plist>
